{% extends 'base.html' %}

{% block title %}
    Registration Page
{% endblock %}

{% block content %}
    <body class="text-center">
        <div class="container"  style="width: 600px">
            <form method="POST" class="form-register" style="color:white">
                {{ form.hidden_tag() }} <!-- To prevent CSRF attack on db -->
                <img class="mb-4", src="https://imgs.search.brave.com/YPuYCl5-EmeqfaL-FzqF8l4egROpKnuuhEcQJWq3eUY/rs:fit:180:180:1/g:ce/aHR0cDovL2Jpb3dl/Yi51d2xheC5lZHUv/YmlvMjAzL3MyMDA4/L2Fybm9sZF9tZWFn/L01DajA0MzQ3Mjkw/MDAwWzFdLnBuZw" 
                    style="width:100px;height:100px;">
                <h1 class="h3 mb-3 font-weight-normal">
                    Please Create your Account
                </h1>
                <br>
                {{ form.username.label() }}
                {{ form.username(class="form-control", placeholder="User Name") }}

                {{ form.email.label() }}
                {{ form.email(class="form-control", placeholder="Email Address") }}

                {{ form.password1.label() }}
                {{ form.password1(class="form-control", placeholder="Password") }}

                {{ form.password2.label() }}
                {{ form.password2(class="form-control", placeholder="Confirm Password") }}
                
                <br>

                {{ form.submit(class='btn btn-lg btn-block btn-primary') }}

            </form>
        </div>
    </body>
{% endblock %}