{% extends "base.html" %}

{% block title %}
    Example Porfolios
{% endblock %}

{% block content %}
    <head>
        <!-- Table CSS -->
        <link rel="stylesheet" href="static/css/table.css">
    </head>

    <body>

        <div class="container pt-4">
            {% for k, v in dfs.items() %}
            <div class="row align-items-center">
                <h5 class="border-bottom text-center">
                    {{ v['title_1'] }} <span style="color:var(--bs-{{ 'success' if k=='normal' else 'danger' }});">{{ v['title_2'] }}</span>
                </h5>
                <div class="col-md-6 d-flex flex-column align-content-center text-left no-bottom-border py-2"
                id="ideal-portfolio-tables">
                    {{  (v['df'].to_html(index=False, border=0))|safe }}
                </div>
                <div class="col-md-6 d-flex flex-column text-left align-middle pb-4" id="ideal-portfolio-plots">
                    {{ (v['plot_div'])|safe }}
                </div>
            </div>
            {% endfor %}
        </div>

    </body>

    <!-- Bokeh plots JS files -->
    {% for v in dfs.values() %}
        {{ v['plot_js']|safe }}
    {% endfor %}

{% endblock %}