{% extends "base.html" %}


{% block title %} Home: Portfolio {% endblock %}

{% block content %}
    <head>
        <!-- links 
        <link rel="stylesheet" href="{{ cdn_css| safe }}" type="text/css">
        -->
        <link rel="stylesheet" href="static/css/table.css">
        
        <!-- scripts -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="{{ cdn_js| safe }}"></script>
    </head>
    
    <body>
        <div class="container text-center">
            <div class="row align-middle" style="margin-top:25px;">
                <div class="col-md-6 custom-container">
                    <h4>Total Investements</h4>
                    {{ table.to_html()|safe }}
                </div>
                <div class="col-md-6 text-center">
                    <h4>Asset Allocations</h4>
                    <div class="align-middle">{{ plot_div | safe }}</div> 
                </div>
            </div>
        </div>
    </body>

    <!-- JS scripts -->
    {{ plot_js | safe }}
{% endblock %}



