{% extends "base.html" %}


{% block title %} Home: Portfolio {% endblock %}

{% block content %}
    <head>
        <!-- links 
        <link rel="stylesheet" href="{{ cdn_css| safe }}" type="text/css">
        -->
        <link rel="stylesheet" href="static/css/table.css">
        
        <!-- scripts -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="{{ cdn_js| safe }}"></script>

        <!-- symbols -->
        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
            <symbol id="dollar" viewBox="0 0 16 16">
                <path d="M4 10.781c.148 1.667 1.513 2.85 3.591 3.003V15h1.043v-1.216c2.27-.179 3.678-1.438 3.678-3.3 0-1.59-.947-2.51-2.956-3.028l-.722-.187V3.467c1.122.11 1.879.714 2.07 1.616h1.47c-.166-1.6-1.54-2.748-3.54-2.875V1H7.591v1.233c-1.939.23-3.27 1.472-3.27 3.156 0 1.454.966 2.483 2.661 2.917l.61.162v4.031c-1.149-.17-1.94-.8-2.131-1.718H4zm3.391-3.836c-1.043-.263-1.6-.825-1.6-1.616 0-.944.704-1.641 1.8-1.828v3.495l-.2-.05zm1.591 1.872c1.287.323 1.852.859 1.852 1.769 0 1.097-.826 1.828-2.2 1.939V8.73l.348.086z"/>
            </symbol>
        </svg>

    </head>
    
    <body>

        <!-- ADS CARDS -->
        <div class="container px-4 py-5" id="icon-grid">
            <h2 class="pb-1 border-bottom">Affiliated Links</h2>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-4 ">

                {% for i in range(df_ads.shape[0]) %}
                
                    <div class="card d-flex align-items-start mx-2 my-2" style="width: 16rem;">
                        <div class="card-body">
                            <h5 class="card-title fw-bold">{{ df_ads.loc[i, 'icon'] + ' ' + df_ads.loc[i, 'header'] }}</h5>
                            <p class="card-text">{{df_ads.loc[i, 'text']}}</p>
                            <a href="{{ df_ads.loc[i, 'hyperlink'] }}" class="card-link">Visit Site</a>
                        </div>
                    </div>

                {% endfor %}
    
            </div>
        </div>

        <!-- MAIN TABLE & PIE-CHART-->
        <div class="container">
            <div class="row" style="margin-top:-30px;">
                <div class="col-md-6 d-flex flex-column align-content-center text-left">
                    <h2 class="border-bottom">Total Investements</h2>
                    <br>
                    {{ table.to_html()|safe }}
                </div>
                <div class="col-md-6 d-flex flex-column align-content-center text-left align-middle">
                    <h2 class="border-bottom">Asset Allocations</h2>
                    <br>
                    <div>{{ plot_div | safe }}</div> 
                </div>
            </div>
        </div>

        <!-- ASSET RISK -->
        <div class="container">
            <div class="row d-flex flex-column justify-content-center">
                <div class="col-lg-12 col-md-6 col-sm-3">
                    <h2 class="border-bottom">Asset Risk</h2>
                    <br>
                    <ul class="list-group list-group-horizontal">
                        {% for i, row in df_risk.iterrows() %}
                        <a class="list-group-item list-group-item-{{row['li_group']}} text-center list-group-item-action" 
                        data-bs-toggle="popover" data-bs-placement="top" data-bs-title="RISK: {{row['risk_word']}}" 
                        data-bs-custom-class="custom-popover-{{row['li_group']}}"
                        data-bs-trigger="hover" data-bs-content="{{ row['comment'] }}">{{row['asset']}}</a>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <br>
        <br>
        <!-- ANNOUNCEMENTS TIMELINE -->
        <section class="timeline_area section_padding_130">
            <div class="container">
                <div class="row justify-content-left">
                    <div class="col-12 col-sm-8 col-lg-12">
                        
                        <!-- Section Heading-->
                        <div class="section_heading text-left">
                            <h2 class="border-bottom">Announcements</h2>
                            <br>
                            <div class="line"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        
                        <!-- Timeline Area-->
                        <div class="apland-timeline-area">
                            
                            <!-- Single Timeline Content-->
                            {% for date in df_a.date.unique() %}
                                <div class="single-timeline-area">
                                    <div class="timeline-date wow fadeInLeft" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInLeft;">
                                        <p>{{ date }}</p>
                                    </div>
                                    <div class="row">
                                        {% for i,row in df_a[df_a.date == date].iterrows() %}
                                            <div class="col-12 col-md-6 col-lg-4">
                                                <div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
                                                    <div class="timeline-icon"><i class="fa fa-info" aria-hidden="true"></i></div>
                                                    <div class="timeline-text">
                                                        <h6>{{ row['heading'] }}</h6>
                                                        <p>{{ row['text'] }}.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <br>
        <br>

        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-6 text-left">
                    <h2 class="border-bottom">General Advice</h2>
                    <ul>
                        {% for row in df_advice[0] %}
                        <li>{{ row }}</li>
                        {% endfor%}
                    </ul>
                    <br>
                    <h2 class="border-bottom">My Historical Investments</h2>
                    {{ df_hist.iloc[1:].to_html(index=False, 
                        justify='center', 
                        header=False, 
                        classes='historical') | safe }}
                </div>
                <div class="col-1">

                </div>
                <div class="col-5 text-left">
                    <h2 class="border-bottom">General Notes</h2>
                    <div class="accordion" id="accordionExample">
                        
                        {% for i, row in df_gen.iterrows()%}
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="heading{{i}}">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{i}}" aria-expanded="false" aria-controls="collapse{{i}}">
                                    {{ row['field'] }}
                                    </button>
                                </h2>
                                <div id="collapse{{i}}" class="accordion-collapse collapse" aria-labelledby="heading{{i}}" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        {{ row['info'] }}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>


    </body>

    <!-- JS scripts -->
    {{ plot_js | safe }}
{% endblock %}



