{% extends "base.html" %}


{% block title %} Home: Portfolio {% endblock %}

{% block content %}
    <head>
        <!-- links 
        <link rel="stylesheet" href="{{ cdn_css| safe }}" type="text/css">
        -->
        <link rel="stylesheet" href="static/css/table.css">
        
        <!-- scripts -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="{{ cdn_js| safe }}"></script>
    </head>
    
    <body>
        
        <div class="container text-center">
            <div class="row justify-content-md-center">
                {% for  %}
                <div class="col-md-auto">
                    Variable width content
                </div>
            </div>
        </div>

        <!-- MAIN TABLE & PIE-CHART-->
        <div class="container">
            <div class="row" style="margin-top:25px;">
                <div class="col-md-6 d-flex flex-column align-content-center text-center">
                    <h4 class=" ">Total Investements</h4>
                    {{ table.to_html()|safe }}
                </div>
                <div class="col-md-6 d-flex flex-column align-content-center text-center align-middle">
                    <h4>Asset Allocations</h4>
                    <div>{{ plot_div | safe }}</div> 
                </div>
            </div>
        </div>
    </body>

    <!-- JS scripts -->
    {{ plot_js | safe }}
{% endblock %}



