{% extends "base.html" %}

{% block title %}
    Stocks Watchlist
{% endblock %}

{% block content %}

    <head>
        <!-- Table CSS -->
        <link rel="stylesheet" href="static/css/table.css">
        
    </head>

    <body>

        <!-- Button trigger modal 
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            Launch static backdrop modal
        </button>
        -->

        <!-- Disclaimer Modal -->
        <div class="modal fade danger-modal" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header panel-danger">
                        <h1 class="modal-title fs-5 w-100 text-center" id="staticBackdropLabel"><b>DISCLAIMER</b></h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                    <div class="icon-list">
                        {% for i,row in df_disc.iterrows() %}
                            <div class="icon-list-item" style="color:var(--bs-{{ row['color'] }}-text);">
                                <span class="li-icon">
                                    <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Danger: " width="20" height="20" style="fill:var(--bs-{{ row['color'] }}-text);">
                                        <use xlink:href="#{{ row['icon_id'] }}"/>
                                    </svg>
                                </span>
                                <p class="li-text"><b>{{ row['info'] }}</b></p>
                            </div>
                        {% endfor %}
                    </div>
                    </div>
                    <div class="modal-footer justify-content-center">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal"><b>Understood</b></button>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row position-relative py-4">
                <h2 class="border-bottom text-center">Stocks Watchlist</h2>
                <div class="stocks_watch table-sticky no-bottom-border no-right-border ps-0 mx-2">
                    {{ df_style.to_html(table_uuid="stockswatch")|safe }}
                </div>
            </div>
        </div>

        <!-- Automatically Launch Modal on Page Open -->
        <script>
            $(document).ready(function(){
                $("#staticBackdrop").modal('show');
            });
        </script>

    </body>

{% endblock %}