/* VARIABLES */
:root {
  --bs-nav-color: white;
  --bs-nav-active-color: gold;
  --bs-nav-hover-color: rgb(0, 255, 8);
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* NAVBAR */

.text-white {
  --bs-text-opacity: 1;
  color: white,var(--bs-text-opacity)!important;
}

.me-2 {
  margin-right: 0rem;
}

.me-lg-auto {
  margin-right: 0%!important;
  margin-left: 0%!important;
}

.bi {
  vertical-align: -0.125em;
  fill: var(--bs-nav-color);
}

.nav {
  --bs-nav-link-padding-x: 0.5rem;
}

.nav .active svg, .nav .active {
  color: var(--bs-nav-active-color)!important;
  fill: var(--bs-nav-active-color)!important;
}


.nav .nav-link:hover, .nav-link:hover svg {
  color: var(--bs-nav-hover-color)!important;
  fill: var(--bs-nav-hover-color)!important;
}

.px-3 {
  padding-left: 0rem!important;
}

/* Logo style */
.logo {
  width: 100px;
  height: 50px;
  filter:invert(100%);
}

/* BODY */
body {
  background: rgb(44, 43, 43);
  font-family: 'Open Sans', sans-serif;
  color: var(--bs-nav-color);
}