@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);

:root {
  --bs-nav-color: white;
  --bs-nav-active-color: gold;
  --bs-nav-hover-color: rgb(0, 255, 8);
  --bs-nav-background-color: #212529;
  --bs-table-hover-color: #34373b;
  --bs-btn-hover-color: #68a40f;
}

table {
	background: var(--bs-nav-background-color);
	border-radius: 0.4em;
	border-collapse: collapse;
	margin: 0em;
  margin-bottom: 5em;
  padding-bottom: 10em;
  padding: 5em;
}
th {
  border-bottom: 1px solid #E2B842;
  color: #E2B842;
  font-size: 1em;
  font-weight: 600;
  padding: 0.5em 1em;
  text-align: left;
}

tr td:nth-child(3), th:nth-child(3) {
  text-align: center;
}

tr td:nth-child(2), th:nth-child(2) {
  text-align: right;
}

td {
  color: #fff;
  font-size: .85em;
  font-weight: 400;
  padding: 0.65em 1em;
  text-align: left;
  border-bottom: 1px solid #364043
}

.disabled td {
  color: #4F5F64;
}
tbody tr {
  transition: background 0.25s ease;
}
tbody tr:hover {
  background: var(--bs-table-hover-color);
  opacity: 1;
}

/* BUTTONS */
table .btn-secondary:hover {
  background-color: #68a40f;
}